
.table {
	border: 4px dotted red;
	padding: 10px;
	border-radius: 5px;
}

.padding-right {
	padding-right: 30px;
}

.table tr td {
	padding-bottom: 20px;
}

.table tr td:nth-child(odd) {
	font-weight: bold;
}

.orange {
	color: red;
}

.content {
	position: relative;
}

.stripe {
	position: absolute;
	height: 100%;
	width: 30px;
	top: 0;
	left: 46%;
	background-color: orangered;
	border-radius: 3px;
	z-index: -1;
}


.years li {
	font-size: 1.5em;
	width: 40%;
	margin-bottom: -50px;
}

.years > li:nth-child(odd) {
	position: relative;
	/* margin: -40px; */
}

.years > li:nth-child(even) {
	position: relative;
	left: 50%;
	/* top: -200px; */
}

.years li span {
	font-size: 1em;
	font-weight: bold;
	color: orangered;
}
.years li .details {
	font-size: 0.75em;
	color: black;
}

.details {
	padding-left: 10px;
	font-size: 1em;
	color: black;
	margin-bottom: 20px;
}

.italics {
	font-style: italic;
}

.end {
	margin-top: 100px;
}

.about-img {
	width: 100%;
	margin-top: -100px;
	opacity: 0.5;
}

.about-header {
	height: 200px;
	overflow: hidden;
}

.looking-back-header {
	display: flex;
	align-items: center;
}

.looking-back-header h2 {
	display: inline-block;
}

.looking-back-header img {
	height: 100px;
	margin-left: 20px;
}