.center-content {
	position: relative;
	text-align: center;
	
	}

.bulletin {
	display: inline-block;
	border: 1px solid black;
	border-radius: 10px;
	margin-top: 20px;
	margin-left: 10px;
	padding-right: 220px;
	background-color: gray;
	min-height: 10%;
	}
.bulletin h4 {
	padding-left: 8px;
	margin: 0;
	color: #e3df76;
	}
.bulletin a {
	padding: 18px;
	text-decoration: none;
	display: block;
	color: white;
	}
.bulletin a:hover {
	color: silver;
	}
.events {
	display: inline-block;
	border: 1px solid black;
	border-radius: 10px;
	margin-left: 10px;
	padding: 20px 20px;
	background-color: gray;
	max-width: 300px;
	}
.events h4 {
	padding-left: 8px;
	margin: 0;
	color: #e3df76;
	}
.events img {
	width: 144px;
	padding: 2px;
	}
.events a img:hover {
	opacity: 0.2;
	}
.article {
	padding: 2px;
	display: inline-block;
	margin-top: 2%;
	margin-left: 2%;
	padding-right: 15%;
	}
.article img {
	height: 100px;
	}