@import url('https://fonts.googleapis.com/css?family=Droid+Sans|Lato');

body {
    margin: 0;
    display: flex;
    flex-direction: column;

}

div.container {
    position: relative;
    float: left;
    padding: 5%;
    width: 140px;
}

div.image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
}

.container .image {
	border-radius: 5px;
}


div.container .image:hover {
    opacity: 0.3;
}

div.container p {
    text-align: center;
    background-color: red;
    color: white;
    padding: 3px;
    font-size: 18px;
    border-radius: 3px;
}

.member_pic {
    border-radius: 50%;
    float: left;
    width: 10%;
    border: solid 2px gray;
}

.prof_info {
    float: left;
    margin-left: 70px;
}

.member_prof {
    margin-top: 50px;
    margin-left: 70px;
    display: block;
    position: relative;
}

form {
    background-color: #92a8d1;
    padding: 60px 50px 60px 50px;
    margin: auto;
    display: block;
    font-size: 18px;
    font-family: "Lato", sans-serif;

}

input[type=text], input[type=password] {
    font-size: 22px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    box-sizing: border-box;
}

input[type=text]:focus, input[type=password]:focus {
    border: 2px solid #21467C;
}

button {
    font-size: 22px;
    background-color: #2A61A2;
    color: white;
    border: none;
    padding: 14px 20px;
    margin: 8px 0;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

.margin-20 {
	margin: 20px;
}

.artist-profile {
	border-radius: 10px;
}